<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dakruco Hotel - @Page.Title</title>
    <!--favicon-->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--google fonts-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--materialize.css-->
    <link href="~/Content/stylesheets/materialize.css" rel="stylesheet" media="screen,projection" />
    <!--font awesome.css-->
    <link rel="stylesheet" href="~/Content/stylesheets/font-awesome.min.css">
    <!--scripts-->
    <script src="~/Content/myScripts/jquery-3.2.1.js"></script>
    <script src="~/Content/myScripts/materialize.js"></script>
    <script src="~/Content/myScripts/modernizr-2.6.2.js"></script>
    <script src="~/Content/myScripts/myScripts.js"></script>
    <!--optimized for mobile-->
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="fb-root"></div>
    <script>
        // facebook javascript page button sdk
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <a id="btn-booking" href="#" class="btn waves-effect waves-light pulse">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>    
        <span>Đặt phòng</span>
    </a>
    <a id="btn-scrolltop" href="#primary-menu" style="display: none;" class="btn waves-effect waves-light">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </a>
    <div class="navbar-fixed">
        @RenderSection("navbar", required: false)
    </div>
    <div class="container z-depth-2">
        @RenderSection("header", required: false)
        @RenderSection("main", required: false)
        @RenderBody()
        @RenderSection("footer", required: false)
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>