<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dakruco Hotel - @Page.Title</title>    
    <!--favicon-->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />      
    <!--materialize.css-->
    <link href="~/Content/stylesheets/materialize.css" rel="stylesheet" media="screen,projection" />    
    <!--main styles-->
    <link href="~/Content/stylesheets/screen.css" rel="stylesheet" />    
    <!--scripts-->
    <script src="~/Content/myScripts/jquery-3.2.1.js"></script>
    <script src="~/Content/myScripts/materialize.js"></script>
    <script src="~/Content/myScripts/modernizr-2.6.2.js"></script>
    <!--optimized for mobile-->
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <h1>beta.dakrucohotel.com</h1>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Web Page</p>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>